body, html {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.left-nav {
    height: 100vh;
    width: 15vw;
    background-color: #8101d6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 10px;
}

.mdi-view-dashboard {
    font-size: 34px;
}

.page-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-item {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-bottom: -10px;
}

h2 {
    padding-left: 20px;
    font-weight:500;
}

.nav {
    font-size: 28px;
}