body, html {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.left-nav {
    width: 300px;
    background-color: #8101d6;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 30px;
    box-sizing: border-box;
    padding-top: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 10px;
}

.mdi-view-dashboard {
    font-size: 34px;
}

.page-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    margin-bottom: 30px;
}

.nav-item {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    margin-bottom: -10px;
}

.nav-item:hover {
    color: rgb(224, 92, 254);
}

h2 {
    padding-left: 20px;
    font-weight:500;
}

.nav {
    font-size: 28px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.top-nav {
    
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.search-container {
    display: flex;
    align-items: center;
    width: 400px;
    border: 2px solid #333;
    border-radius: 25px;
    padding: 5px 10px;
    margin-left: 75px;
}

.search-container input {
    width: 100%;
    border: none;
    padding: 10px;
    outline: none; /* Remove default focus outline */
    border-radius: 25px;
    font-size: 16px;
}

.search-container i {
    color: #333;
    margin-right: 10px;
    font-size: 20px;
}

.misc {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.misc i {
    font-size: 28px;
}

.circle-img {
    border-radius: 50%;
    background-image: url('tony-stark.jpg');
    background-position: center;
    width: 60px;
    height: 60px;
    background-size: cover;
    margin-left: 30px;
}

h4 {
    font-size: 22px;
    margin-left: 25px;
}

.lower {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 15px;
    box-shadow: 0px 15px 10px -15px #111; 
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.profile .circle-img {
    width: 100px;
    height: 100px;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.profile h2 {
    margin: 0;
    font-weight: 600;
    text-align: left;
    padding-left: 0;
}

.profile p {
    margin: 0;
    font-weight: 600;
    text-align: left;
    margin-bottom: 5px;
}

.action-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 50px;
}

button {
    border-radius: 35px;
    background-color: #8101d6;
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    box-shadow: 0 4px 8px rgba(190, 56, 221, 0.2);
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: rgb(224, 92, 254);
    box-shadow: 0 8px 16px rgba(190, 56, 221, 0.2);
    transform: translateY(-5px);
}

.project-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-left: 10px solid orange;
    width: 20vw;
    height: 100%;
    background-color: white;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.3);
    align-items: flex-end;
    padding: 15px 30px 20px 30px;
}

.content {
    text-align: left;
}

.project-card p {
    color: rgb(101, 101, 101);
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 35px;
}

.project-card h3 {
    font-size: 24px;
    margin: 0;
}

.icons {
    display: flex;
    gap: 15px;
}

.project-card i {
    font-size: 26px;
    opacity: 0.75;
}

.content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.projects-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 20%);
    gap: 20px;
    background-color: #929292;
}

.announcement-card, .trending-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 15px 2px rgba(0, 0, 0, 0.3);
    padding: 15px 30px 20px 30px;
}

.trending-card {
    gap: 20px;
    justify-content: center;
}

.announcement-card p {
    opacity: 75%;
    font-size: 14px;
    margin-top: 5px;
}

.announcement-card, .trending-card h4 {
    font-size: 18px;
}

.trending-card h4 {
    font-weight: 500;
}

.trending-card p {
    font-size: 16px;
    opacity: 50%;
}

.line {
    height: 1px;
    border: 0.25px solid black;
    background-color: black;
    opacity: 50%;
    margin: 20px 0px;
}

#hulk {
    background-image: url('the-hulk.jpeg');
    
}

#blck-panther {
    background-image: url('black-panther.jpeg');
}

#thor {
    background-image: url('thor.jpeg');
}

#cpt-america {
    background-image: url('cpt-america.jpeg');
}

.content h4, p {
    padding: 0;
    margin: 0;
}

.trending-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.trending-card .circle-img {
    margin: 0;
}

.trending h3 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 10px;
}

.announcement h3 {
    font-size: 26px;
    margin: 0;
    margin-bottom: 10px;
}